#Lista de bibiliotecas necessárias para as funcionalidades presentes no backend
fastapi
uvicorn
motor
pydantic
bcrypt 
PyJWT
google-generativeai
firebase-admin
python-dotenv
pymongo[srv]>=4.0
dnspython>=2.0.0
pandas
email-validator
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib